language: generic


sudo: required



services:
  - docker


script:
  - docker build -t t900341/project-korea ./

  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

  - docker push t900341/project-korea

#deploy:
#  provider: elasticbeanstalks
#  region: "ap-northeast-2"
#  app: "project-kor"                    #앱 이름
#  env: "kor-env"               #EB 이름
#  bucket_name: elasticbeanstalk-ap-northeast-2-200476763859    #S3 버킷 이름
#  skip_cleanup: true
#  bucket_path: "project-kor"            #앱이름
#  on:
#    branch: main
#  
#  access_key_id: $AWS_ACCESS_KEY
#  secret_access_key: $AWS_SECRET_ACCESS_KEY




