language: generic


sudo: required

services:
  - docker

script:
  - docker build -t t900341/4amticket-korea ./

  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

  - docker push t900341/4amticket-korea

deploy:
  provider: elasticbeanstalks
  region: "ap-northeast-2"
  app: "4amticket-kor"                    
  env: "4amticketkor-env"               
  bucket_name: elasticbeanstalk-ap-northeast-2-929316178732
  skip_cleanup: true
  bucket_path: "4amticket-kor"            
  on:
    branch: master
  

  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_ACCESS_KEY




